@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*** ### Section Hheader ### ***/
.hheader{
	position:relative;
	/**margin-bottom:50px;**/
	padding: 1em 0px 10em;
	/* background:url(../images/pink-dots.png) no-repeat; */
	background-size:cover;
	background-color: #FFF;
}
.hheader h2{
	/**color:#000;
	font-size: 1.5rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
	font-stretch: condensed;
	font-weight:400;
	/**text-transform:uppercase;/
	margin:0px;
	padding:20px 0px 50px 0px;
	text-align:center;**/
	position:relative;
	margin:0px;
	padding:1rem 0 2rem 0;
	font-size: 39px;
	font-size: 2rem;
	font-weight:550;
	/**color: #203260;**/
	color: #203260;
	text-align:center;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}
/**.hheader .span1 h2 span{
	color:#ffc529;	
}

.hheader .span2 h2 span{
	color: #00A6ED;
}**/

.hheader .box {
	margin-top: 0;
}

.hheader .headline{
	margin-top: 4em;
}

.blueText {
	color: #2D7DD2;
}

.orangeTextTitle{
	color: #ffc529;
}

.orangeTextSubtitle {
	color: #ffc529;
	font-size: 1.1rem;
	font-family: sans-serif;
	font-weight:400;
	margin:0px;
	padding:20px 0px 20px 0px;
	text-align:center;
	line-height: 1.6rem;
}

.greenText {
	color: #97CC04;
}

/**.hheader h2{
	color:#ffc529;
	font-size:13px;
	font-weight:700;
	text-transform:uppercase;
	margin:0px;
	padding:20px 0px;
	text-align:center;
}**/
/**.hheader h2:before{
	content:"";
	position:absolute;
	left:50%;
	margin-left:-1px;
	top:-100px;
	width:2px;
	height:100px;
	background:#ffc529;
} **/
.hheader h3{
/**	position:relative;
	margin:0px;
	padding:0px;
	color: #ffc529;;
	font-size: 2.5rem;
	font-weight:900;
	font-stretch: extra-expanded;
	text-align:center;
	text-transform: uppercase;
	font-family: Monserrat, sans-serif;**/
	color:#000;
	font-size: 1.1rem;
	font-family: sans-serif;
	font-weight:400;
	margin:0px;
	padding:20px 0px 20px 0px;
	text-align:center;
	line-height: 1.6rem;
}
.hheader h4 {
	font-size: 1.1rem;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.6rem;
	letter-spacing: 0.140625em;
	text-transform: none;
 
}
.hheader p{
	color:#898989;
	font-size:20px;
	line-height:25px;
	font-weight:400;
	padding:20px 0px;
	text-align:center;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
}
.hheader .cx_product_box{
	position:relative;
	display:block;
	margin:auto auto 70px auto;
	width:100%;
	max-width:400px;
	height:260px;
	line-height:260px;
	background:#FFF;
	text-align:center;
}
.hheader .cx_product_box img{
	display:inline-block;
	vertical-align:top;
	margin-top:15px;
	max-width:70%;
}
.hheader .cx_product_box .cx_bottom{
	position:absolute;
	bottom:-37px;
	left:30px;
	right:30px;
	background:#203260;
	height:75px;
	line-height:75px;
}
.hheader .cx_product_box p{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	color:#FFF;
	font-weight:400;
	text-align:center;
	padding:0px 15px;
	font-family: 'Open Sans', sans-serif;
}
@media (max-width:1024px){
.hheader h2{
	font-size:2em;
}
.hheader h3{
	font-size:1.5em;
}
.hheader p{
	font-size:15px;
	line-height:22px;
}
}
@media (max-width:991px){
.hheader h3{
	font-size:30px;
}
}
@media (max-width:767px){
.hheader h3{
	font-size:25px;
}
.orangeTextSubtitle {
	color: #ffc529;
	font-size: 25px;
	font-family: sans-serif;
	font-weight:400;
	margin:0px;
	padding:20px 0px 20px 0px;
	text-align:center;
	line-height: 1.6rem;
}
}
.hheader:after{
	content:"";
	position: absolute;
	left:50%;
	margin-left:-1px;
	bottom: -3.5em;
	width:2px;
	height:100px;
	background:#ffc529;
	z-index: 1000;
}