.sectionTwoBg {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 40%;
    max-height: 30rem;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 4;
    margin: 0;
    padding: 2rem;
}
.sectionTwoRow {
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    margin: 0;
    padding: 0;

}

.colCampaignGallery {
    max-width: 50%;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
}
/*
h1:after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -1px;
        bottom: -3.5em;
        width: 100px;
        height: 2px;
        background: #ffc529;
}*/
.boxGalleryInfoInner {
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 0;
    width: 50%;
    
}
.boxDonateOuter {
    margin: 2rem;
    padding: 1rem;

}