/* Box Model */

/**, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}**/
#modal1 {
  background-color: #fff;
  color: #000;
  /*width: 90%;*/
  height: 80%;
  border-radius: 5px;
  overflow-y: scroll;
  margin: 5% 0 0;
  padding: 2rem;
}
#modal2 {
  background-color: #fff;
  color: #000;
  height: 80%;
  border-radius: 5px;
  overflow-y: scroll;
  margin: 5% 0 0;
  padding: 2rem;
}
#modal3 {
  background-color: #fff;
  color: #000;
  /*width: 90%;*/
  height: 80%;
  border-radius: 5px;
  overflow-y: scroll;
  margin: 5% 0 0;
  padding: 2rem;
}


.box {
  border-radius: 4px;
  margin-bottom: 2em;
  /**background: #f9f9f9;**/
  /**background: #ffffff;**/
  text-align: center;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.box .inner {
  padding: 1.5em;
  width: 100% !important;
}


.card {
  border: 2px solid rgba(0, 0, 0, 0.125);
}


.card:hover {
  /*background-color: #ffc529;*/
  background-color: white;
  border-color: #ffc528;
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  /*transform: translateY(-20px);*/
  transition: 0.4s ease-out;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.innerCard {
	padding: 1.5em;
	width: 100%;
}

.innerDeck {
	padding:1.5em;
	width: 100%;
	
}

.thumbnails {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /**-moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;**/
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.thumbnails .box {
  margin: 0 1em 2em 1em;
  width: 30%;
}

@media screen and (max-width: 1280px) {
  .thumbnails .box {
    width: 45%;
  }
}

@media screen and (max-width: 736px) {
  .thumbnails .box {
    width: 100%;
  }


/* Box */


/*
.box .scale:hover {
  top: -10px;
  -webkit-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.4);
}
*/
.card .scale:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.box .image.fit {
  margin: 0;
  width: 100%;
}

.box .image img {
  border-radius: 4px 4px 0 0;
}


.card-deck {
  flex-direction: inherit;
}
.card-deck .card {
  margin-left: 0;
  margin-right: 0;
}

.card .card-body {
  display: flex;
  justify-content: center;
}

.card-img-top {
  margin-bottom: 0;
}

.card-body {
  padding-bottom: 0px;
  padding-top: 0px;
  background: #ffffff;
  padding: 0;
}

.thumbnails .box .inner h3 {
  font-size: 1.4em;
  font-weight: 300;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
}

@media screen and (max-width: 480px) {
  .boxInner {
    padding: 1em;
  }
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

/* Main */

#main {
  padding: 4em 0 2em 0;
}

@media screen and (max-width: 736px) {
}

@media screen and (max-width: 480px) {
}

/* Image */

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 4px;
  display: block;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}
