@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*** ### Footer ### ***/
footer{
	position:relative;
	display: grid;
	/**padding:20px 0px 0px 0px;**/
	background:rgba(0, 0, 0, 0.5);
	padding: 2em 0!important;
	text-align: center;
	justify-content: center;
	font-size: 1.3em;
	background-size: cover;
	background-position: 0hvmax;
}