 

            .buttons {
                cursor: default;
                padding: 0;
                letter-spacing: 0;
            }

            .buttons li a {
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                max-width: 100%;
                -moz-align-items: center;
                -webkit-align-items: center;
                -ms-align-items: center;
                align-items: center;
                -moz-justify-content: center;
                -webkit-justify-content: center;
                -ms-justify-content: center;
                justify-content: center;
                /**vertical-align: middle;**/
            }

          
            form .inner {
                display: inline-flex;
                max-width: 100%;
                -moz-flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -moz-flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }

            form label {
                display: block;
            }

            form textarea {
                height: 10rem;
                line-height: normal;
            }

            form select {
                background-size: 1rem;
                background-repeat: no-repeat;
                text-overflow: ellipsis;
                -webkit-appearance: none;
            }

            form select option {
                background-color: white;
                color: black;
            }

            form select::-ms-expand {
                display: none;
            }

            form input[type="checkbox"] {
                -webkit-appearance: none;
                display: block;
                float: left;
                margin-right: -2rem;
                opacity: 0;
                width: 1rem;
               /* z-index: -1;*/
            }

            form input[type="checkbox"] + label {
                display: inline-flex;
                text-align: left;
                line-height: 1.6;
                -moz-align-items: center;
                -webkit-align-items: center;
                -ms-align-items: center;
                align-items: center;
            }

            form input[type="checkbox"] + label:before {
                content: '';
                display: inline-block;
                background-position: center;
                background-repeat: no-repeat;
                vertical-align: middle;
                cursor: pointer;
                -moz-flex-grow: 0;
                -webkit-flex-grow: 0;
                -ms-flex-grow: 0;
                flex-grow: 0;
                -moz-flex-shrink: 0;
                -webkit-flex-shrink: 0;
                -ms-flex-shrink: 0;
                flex-shrink: 0;
            }

            form .file {
                position: relative;
            }

            form .file > input[type="file"] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }

            form .file[data-filename]:before {
                content: attr(data-filename);
                display: block;
                white-space: nowrap;
                position: absolute;
                top: 0;
                height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                background-position: left;
                background-repeat: no-repeat;
            }

            form .file[data-filename=""]:before {
                content: attr(data-placeholder);
                background-image: none !important;
                padding-left: 0 !important;
            }

            form .file:after {
                -moz-transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
                -webkit-transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
                -ms-transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
                transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
                background-color: transparent;
                border: 0;
                display: block;
                content: '';
                position: absolute;
                cursor: pointer;
                -moz-pointer-events: none;
                -webkit-pointer-events: none;
                -ms-pointer-events: none;
                pointer-events: none;
                background-position: center;
                background-repeat: no-repeat;
            }

            form .actions {
                max-width: 100%;
            }

            form button {
                background-color: transparent;
                border: 0;
                cursor: pointer;
                text-align: center;
                max-width: 100%;
                white-space: nowrap;
                -moz-transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
                -webkit-transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
                -ms-transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
                transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
                -moz-display: inline-flex;
                -webkit-display: inline-flex;
                -ms-display: inline-flex;
                display: inline-flex;
                -moz-align-items: center;
                -webkit-align-items: center;
                -ms-align-items: center;
                align-items: center;
                -moz-justify-content: center;
                -webkit-justify-content: center;
                -ms-justify-content: center;
                justify-content: center;
                vertical-align: middle;
            }

            form button:disabled {
                opacity: 0.35;
                cursor: default;
                -moz-pointer-events: none;
                -webkit-pointer-events: none;
                -ms-pointer-events: none;
                pointer-events: none;
            }
        
            @-moz-keyframes button-spinner {
                0% {
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }

                100% {
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            @-webkit-keyframes button-spinner {
                0% {
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }

                100% {
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            @-ms-keyframes button-spinner {
                0% {
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }

                100% {
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            @keyframes button-spinner {
                0% {
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }

                100% {
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            #form01 {
                margin-top: 0.5rem !important;
                margin-bottom: 0.5rem !important;
            }

           
            #form01 .inner {
                width: 30rem;
            }


            #form01 input[type="text"], #form01 input[type="email"], #form01 textarea, #form01 select, #form01 input[type="checkbox"] + label, #form01 .file {
                font-size: 0.75em;
                font-family: 'Lato', sans-serif;
                letter-spacing: 0.025rem;
                font-weight: 700;
                border-radius: 0.25rem;
            }

            #form01 input[type="text"], #form01 input[type="email"], #form01 textarea, #form01 select, #form01 .file {
                padding-left: calc(0.025rem + 0.9625rem);
                color: #575151;
                border: solid 1px #030202;
            }

            #form01 input[type="text"]:focus, #form01 input[type="email"]:focus, #form01 textarea:focus, #form01 select:focus, #form01 .file.focus {
                border-color: rgba(237,183,78,0.451);
                box-shadow: 0 0 0 1px rgba(237,183,78,0.451);
            }

            #form01 input[type="checkbox"] + label {
                color: #575151;
            }

            #form01 input[type="text"], #form01 input[type="email"], #form01 select, #form01 .file {
                height: 2.75rem;
                line-height: 2.75rem;
                padding: 0 0.9625rem;
            }

            #form01 textarea {
                padding: 0.9625rem;
                height: 12rem;
            }

            #form01 select {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='504' height='552' preserveAspectRatio='none' viewBox='0 0 504 552'%3E%3Cpath d='M483.9,210.9L252,442.9L20.1,210.9l67.9-67.9L252,307.1l164.1-164.1L483.9,210.9z' fill='%23030202' /%3E%3C/svg%3E");
                background-position: calc(100% - 0.9625rem) center;
                padding-right: 2.8125rem;
            }

            #form01 input[type="checkbox"] + label:before {
                border-radius: 0.25rem;
                color: #575151;
                border: solid 1px #030202;
                width: 2.0625rem;
                height: 2.0625rem;
                margin-right: 1.03125rem;
                background-size: 1.16875rem;
            }

            #form01 input[type="checkbox"]:checked + label:before {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='648' height='552' preserveAspectRatio='none' viewBox='0 0 648 552'%3E%3Cpath d='M225.3,517.7L2.1,293.1l68.1-67.7L226,382.3L578.1,35.6l67.4,68.4L225.3,517.7z' fill='%23575151' /%3E%3C/svg%3E");
            }

            #form01 input[type="checkbox"]:focus + label:before {
                border-color: rgba(237,183,78,0.451);
                box-shadow: 0 0 0 1px rgba(237,183,78,0.451);
            }

            #form01 .file:before {
                width: calc(100% - 3.7125rem);
                background-size: 0.75rem;
                padding-left: 1.05rem;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M27.4,4.5c-0.4-0.4-0.8-0.7-1.5-0.9c-0.6-0.3-1.2-0.4-1.7-0.4H7.1c-0.5,0-0.9,0.2-1.3,0.5S5.3,4.5,5.3,5.1v30.7 c0,0.5,0.2,0.9,0.5,1.3c0.4,0.4,0.8,0.5,1.3,0.5h25.8c0.5,0,0.9-0.2,1.3-0.5c0.4-0.4,0.5-0.8,0.5-1.3V13.7c0-0.5-0.1-1.1-0.4-1.7 c-0.3-0.6-0.6-1.1-0.9-1.5L27.4,4.5z M25.7,6.2l6,6c0.2,0.2,0.3,0.4,0.4,0.8h-7.2V5.8C25.3,5.9,25.5,6.1,25.7,6.2z M7.7,35.2V5.7 h14.7v8c0,0.5,0.2,0.9,0.5,1.3c0.4,0.4,0.8,0.5,1.3,0.5h8v19.7H7.7z' style='opacity: 0.375' fill='%23575151' /%3E%3C/svg%3E");
            }

            #form01 .file:after {
                width: 2.2rem;
                height: 2.2rem;
                line-height: 2.2rem;
                background-size: 1.1rem;
                border-radius: 0.16rem;
                background-color: #D6920F;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M36.1,22.7l-5.7,7.1c-0.3,0.4-0.8,0.7-1.4,1c-0.6,0.3-1.2,0.4-1.7,0.4H6.2c-0.7,0-1-0.2-1-0.7c0-0.2,0.1-0.5,0.4-0.8 l5.7-7.1c0.3-0.4,0.8-0.7,1.4-1c0.6-0.3,1.1-0.4,1.7-0.4h21.2c0.7,0,1,0.2,1,0.7C36.5,22.1,36.4,22.4,36.1,22.7z M11.6,19.4 c-0.9,0.4-1.7,1-2.3,1.7l-5,6.1V10.7c0-0.5,0.2-1,0.5-1.3C5.2,9,5.7,8.8,6.2,8.8h6.2c0.5,0,1,0.2,1.3,0.5c0.4,0.4,0.5,0.8,0.5,1.3 v1.2c0,0.5,0.2,1,0.5,1.3c0.4,0.4,0.8,0.5,1.3,0.5h11.2c0.5,0,1,0.2,1.3,0.5c0.4,0.4,0.5,0.8,0.5,1.3v3.1H14.3 C13.4,18.8,12.5,19,11.6,19.4z M38.7,20.6c-0.3-0.6-0.7-1.1-1.3-1.4c-0.6-0.3-1.2-0.5-1.9-0.5h-3.7v-3.1c0-1.2-0.4-2.2-1.3-3.1 s-1.9-1.3-3.1-1.3H16.8v-0.6c0-1.2-0.4-2.2-1.3-3.1c-0.9-0.9-1.9-1.3-3.1-1.3H6.2C5,6.3,4,6.7,3.1,7.6s-1.3,1.9-1.3,3.1v18.7 c0,1.2,0.4,2.2,1.3,3.1s1.9,1.3,3.1,1.3h21.2c0.9,0,1.8-0.2,2.7-0.7c0.9-0.4,1.7-1,2.3-1.7l5.7-7.1c0.6-0.8,0.9-1.5,0.9-2.3 C39,21.5,38.9,21,38.7,20.6z' fill='%23FFFFFF' /%3E%3C/svg%3E");
                bottom: calc(0.275rem - 1px);
                right: calc(0.275rem - 1px);
            }

            #form01 .file:hover:after {
                background-color: #FFA800;
            }

            #form01 button {
                width: 30rem;
                height: 2.625rem;
                line-height: 2.625rem;
                padding: 0 1.3125rem;
                text-transform: uppercase;
                font-size: 0.875em;
                font-family: 'Montserrat', sans-serif;
                letter-spacing: 0.275rem;
                padding-left: calc(0.275rem + 1.3125rem);
                font-weight: 800;
                border-radius: 0.25rem;
                background-color: #ffc529;
                color: #FFFFFF;
                -moz-flex-direction: row-reverse;
                -webkit-flex-direction: row-reverse;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
                position: relative;
            }

            #form01 button:hover {
                background-color: #FFA800;
            }

            #form01 button svg {
                display: block;
                -moz-transition: fill 0.25s ease;
                -webkit-transition: fill 0.25s ease;
                -ms-transition: fill 0.25s ease;
                transition: fill 0.25s ease;
                width: 1.25em;
                min-width: 18px;
                height: 100%;
                fill: #FFFFFF;
                margin-right: calc(-0.125em + 0.275rem);
                margin-left: 0.5em;
            }

            #form01 .inner > :first-child > label:first-child {
                margin-top: 0;
            }

            #form01 button:before {
                -moz-pointer-events: none;
                -webkit-pointer-events: none;
                -ms-pointer-events: none;
                pointer-events: none;
                content: '';
                display: block;
                width: 1.96875rem;
                height: 1.96875rem;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -0.984375rem 0 0 -0.984375rem;
                -moz-animation: button-spinner 1s infinite linear;
                -webkit-animation: button-spinner 1s infinite linear;
                -ms-animation: button-spinner 1s infinite linear;
                animation: button-spinner 1s infinite linear;
                -moz-transition: opacity 0.25s ease;
                -webkit-transition: opacity 0.25s ease;
                -ms-transition: opacity 0.25s ease;
                transition: opacity 0.25s ease;
                -moz-transition-delay: 0s;
                -webkit-transition-delay: 0s;
                -ms-transition-delay: 0s;
                transition-delay: 0s;
                opacity: 0;
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNGRkZGRkY7IHN0cm9rZS13aWR0aDogMnB4OyB9PC9zdHlsZT48ZGVmcz48Y2xpcFBhdGggaWQ9ImNvcm5lciI+PHBvbHlnb24gcG9pbnRzPSIwLDAgNDgsMCA0OCw0OCA5Niw0OCA5Niw5NiAwLDk2IiAvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjb3JuZXIpIj48Y2lyY2xlIGN4PSI0OCIgY3k9IjQ4IiByPSIzMiIvPjwvZz48L3N2Zz4=');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 1.96875rem;
            }

            #form01 button.waiting {
                color: transparent;
            }

            #form01 button.waiting svg {
                fill: transparent;
            }

            #form01 button.waiting:before {
                opacity: 1.0;
                -moz-transition-delay: 0.125s;
                -webkit-transition-delay: 0.125s;
                -ms-transition-delay: 0.125s;
                transition-delay: 0.125s;
            }

            #form01 input[name="site-url"] {
                display: none;
            }

            #form01 ::-webkit-input-placeholder {
                color: #575151;
                opacity: 0.55;
            }

            #form01 :-moz-placeholder {
                color: #575151;
                opacity: 0.55;
            }

            #form01 ::-moz-placeholder {
                color: #575151;
                opacity: 0.55;
            }

            #form01 :-ms-input-placeholder {
                color: #575151;
                opacity: 0.55;
            }

            #form01 .file[data-filename=""]:before {
                color: #575151;
                opacity: 0.55;
            }

            #modalmailing {
                background-color: #fff;
                color: #000;
                /*width: 90%;*/
                height: 60%;
                border-radius: 5px;
                overflow-y: scroll;
                margin: 5% 0 0;
                padding: 2rem;
                z-index: 99999;
              }
            
             @media (max-width: 1680px) {
                html {
                    font-size: 13pt;
                }
            }

            @media (max-width: 1280px) {
                html {
                    font-size: 13pt;
                }
            }

            @media (max-width: 980px) {
                html {
                    font-size: 11pt;
                }
            }

            @media (max-width: 736px) {
                html {
                    font-size: 11pt;
                }
                
               

                #form01 {
                    margin-top: 0.375rem !important;
                    margin-bottom: 0.375rem !important;
                }
            }
            
            @media (max-width: 360px) {
           
                #buttons03 li {
                    max-width: calc(100% - 1.5rem);
                    margin: 0.75rem;
                }

                #buttons01 {
                    width: calc(100% + 0.28125rem);
                    margin-left: -0.140625rem;
                }

                #buttons01 li {
                    max-width: calc(100% - 0.28125rem);
                    margin: 0.140625rem;
                }

                #icons01 {
                    width: calc(100% + 0.9375rem);
                    margin-left: -0.46875rem;
                }

                #icons01 li {
                    margin: 0.46875rem;
                }
            }
    
